header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3rem;
    background: #000;

    font-family: 'Yaldevi', sans-serif;
    color: #fff;

    z-index: 3;
}

.logo-tamy {
    cursor: pointer;
    height: 2rem;
    
}

.page-nav {
    height: 100%;
    display: flex;
    align-items: center;

    gap:1rem;
    margin-left: 1rem;
}

.link {
    cursor: pointer;
}

@media only screen and  (max-width: 1410px) {
    header{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 4rem;
        background: #000;
        
        
        font-size: 1rem;
        color: #fff;
    }
    
}
