.main-home {
    margin-top: 3rem;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #fff;
    /* background: linear-gradient(to right, #1c6975 , #2abfd5); */

    font-family: 'Yaldevi', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #17468b;
    
    


    /* background-image: url('./assets/base.jpg');
    background-size: contain;    
    background-repeat: no-repeat, repeat;sdada */
}



.img-croppest {
    height: 100vh;
}



.croppset-left{
    visibility: visible;
    left: 0;
}
.croppset-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img-croppest-fotos {
    width: 50rem; 
    
    
}

.img-croppest-logo  {       
    visibility: hidden;
    display: none;  
}

.title {
    margin: 1rem;
    text-align: center;
    
    
    
    
    width: 50rem; 

    font-size: 2.5rem;
    font-weight: 600;
    
    z-index: 2;
}

.subtitle {
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200; 
    width: 40vw;

    z-index: 2;

    
}

.pix-info  {
    margin-top: 4rem;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: .5rem;
}

.pix-info div p {
   
    margin: 0;    
    
    font-size: 1rem;
    font-weight: 600;
    
}
.pix-info > span {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background: #f3d78b;   
    
}



.pix-value {
    font-size: 1rem;
    
}
.pix-value > span {
    font-size: 3rem;
    font-weight: 600;
    
}

.pix-info div > div {
    cursor: pointer;

    font-size: 2rem;
    background: #f787da;
    font-weight: 200;
    
}

.pix-info div > a {
    cursor: pointer;
    text-decoration: none;

    font-size: 2rem;
    background: #f787da;
    font-weight: 200;
    color: #17468b;
    
}

.picpay {
    cursor: pointer;
    

}

.bg-mobile {
    visibility: hidden;
    display: none;
}

.img-bg-squares {
    position: fixed;
    top: -15rem;
    right: -18rem;
    height: 40rem;
}




@media screen and  (max-width: 1024px) {


    .main-home {
        
        display: flex;
        flex-direction: column;  
    }


    .img-croppest {
        height: 50vh;
    }

    .croppset-left {
        visibility: hidden;
        display: none;
        
    }

    .croppset-right{
        
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        background-image: url('./assets/croppest-cortado-s-logo.png');
        background-size: cover;    
        background-repeat: no-repeat, repeat;

        z-index: 1;

        overflow: hidden;
        
    
    
    }

    .img-croppest-logo  {  
        position: absolute;
        top: 3rem;
        visibility: visible;     
        display: block;
        width: 30rem; 
          
    }

    .bg-mobile {
        visibility: visible;
        display: block;

        position: absolute;
        bottom: -15rem;
        border-radius: 10px 10px 0 0 ;
        height: 100%;
        width: 95%;
        background: #dcecee;
        opacity: .85;

        
        
        
    }
    
    .img-container {
        z-index: 1;
    }



    .img-croppest-fotos {
        visibility: hidden;
        display: none;
    }

    .title {
        margin-top: 20rem;
        text-align: center;
        
        

         
    
        font-size: 3rem;
        font-weight: 600;
        
        z-index: 2;
    }
    
    .subtitle {
        margin-bottom: 2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 200; 
        width: 70%;
    
        z-index: 2;
    
        
    }
    

    .pix-info  {
        margin-top: 5rem; }

    .pix-value {
         font-size: 1.5rem;
            
    }
    .pix-value > span {
         font-size: 5rem;
         font-weight: 600;
            
    }    

    .pix-info div > span {

        font-size: 3.5rem;
        background: #f787da;
        color: #17468b;
        height: 100%;
        font-weight: 200;
    }
    

    .pix-info div > p {
        font-size: 1.5rem;
        font-weight: 600;
        color: #17468b;
    }

    .pix-info div > a {
    
        font-size: 3rem;
        background: #f787da;
        color: #17468b;
    }



}



@media screen and  (max-width: 800px) {


    .main-home {
        
        display: flex;
        flex-direction: column;
        

    }

    .img-croppest {
        height: 50vh;
    }

    .croppset-left {
        visibility: hidden;
        display: none;
        
    }

    .croppset-right{
        
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        background-image: url('./assets/croppest-cortado-s-logo.png');
        background-size: cover;    
        background-repeat: no-repeat, repeat;

        z-index: 0;

        overflow: hidden;
        
    
    
    }

    .img-croppest-logo  {  
        position: absolute;
        top: 3rem;
        visibility: visible;     
        display: block;
        width: 10rem; 
          
    }

    .bg-mobile {
        visibility: visible;
        display: block;

        position: absolute;
        bottom: -7rem;
        border-radius: 10px 10px 0 0 ;
        height: 100%;
        width: 95%;
        background: #dcecee;
        opacity: .85;

        
        
        
    }
    
    .img-container {
        z-index: 1;
    }

    .title {
        margin-top: 8rem;
        text-align: center;      
        
        font-size: 1.5rem;
        font-weight: 600;
        
        z-index: 2;
    }
    
    .subtitle {
        margin-bottom: 1;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 200; 
        width: 70%;
    
        z-index: 2;
    
        
    }

    .img-croppest-fotos {
        visibility: hidden;
        display: none;
        
        
        
    }

    .pix-info  {
        margin-top: 1rem; }

    .pix-value {
         font-size: 1rem;            
    }
    .pix-value span {
         font-size: 3rem;            
    }


    .pix-info div {
        font-size: 1rem;
    
    }
   

    .pix-info div > div {

        font-size: 1rem;
        background: #f787da;
        color: #17468b;
        height: 100%;
        font-weight: 200;
    }
    

    .pix-info div > p {
        font-size: .8rem;
        font-weight: 600;
        color: #17468b;
    }

    .pix-info div > a {
    
        font-size: 1rem;
        background: #f787da;
        color: #17468b;
    }

    .img-bg-squares {
        display: none;
        visibility: hidden;
    }

}

