body {
    margin: 0;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    
    background: #666;
  
    
    
  
  }

body::-webkit-scrollbar {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }


  @media only screen and  (max-width: 1410px) {

    main {
      width: 100vw;
      display: flex;
      flex-direction: column;
    }
  }